/*<!-- Styling the Navbar -->*/

body {
    margin: 0;
    background: whitesmoke;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.profileimg {
    float: left;
    margin-left: -100px;
    padding: 10px 0;
    border-radius: 25%;
    max-width: 50px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: white;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: red;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}
.jpg
/*<!-- Styling the Contents -->*/


img {
    border-radius: 50%;
    width:30px;
    height: 60px;
    width: 60px;
}


.media-body {
    font-family: Tahoma;
    font-size: small;
}



.section-content {
    color: lightgray;
    font-family: Tahoma;
}


.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


footer {
    background-color: black;
    color: white;
    padding: 15px;
    width: 100%;
    text-align: center;
}



























